# Ignore node_modules (prevents pushing unnecessary files)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Ignore environment variables (for security)
.env

# Logs
logs
*.log
